<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestionar Bases de Datos</title>
  <link rel="stylesheet" href="static/css/database-management-styles.css">
</head>
<body>
  <header>
    <h1>Gestionar Bases de Datos</h1>
    <nav>
      <ul>
        <li><a href=/menu_principal">Menú principal</a></li>
        <li><a href="/gestion_empresas">Gestión de Empresas</a></li>
        <li><a href="/periodo-managment">Gestión de Periodos</a></li>
        <li><a href="/databasemanagment">Gestión de Bases de Datos</a></li>
        <li><button id="logout-btn">Cerrar sesión</button></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>Crear Base de Datos</h2>
      <form id="database-form">
        <div class="database">
          <label for="company-id">ID de la Empresa:</label>
          <input type="text" id="company-id" name="company-id" required>
        </div>
        <div class="database">
          <label for="database-name">Nombre de la Base de Datos:</label>
          <input type="text" id="database-name" name="database-name" required>
        </div>
        <button type="submit">Crear Base de Datos</button>
      </form>
    </section>
    
    <section>
      <h2>Gestionar Bases de Datos Existentes</h2>
      <!-- Lista de bases de datos existentes con opciones para administrar -->
      <ul id="database-list" class="database-list">
        <!-- Las bases de datos se añadirán dinámicamente aquí -->
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Gestionar Bases de Datos</p>
  </footer>
  
  <script src="static/js/database-management-scripts.js"></script>
</body>
</html>
